MONGODB=your_mongodb_password
SITEKEY=your_recaptcha_site_key
SECRETKEY=your_recaptcha_secret_key
SESSION_KEY=your_session_secret
EMAIL_USER=user@example.com
ALIAS_EMAIL=alias@example.com
ZOHOPW=your_zoho_password
DEFAULT_USER_ID=your_default_user_id
TRACKER_FLAG_THRESHOLD=10
TRACKER_BAD_TO_GOOD_RATIO_THRESHOLD=1.7
TRACKER_BLOCK_30M_THRESHOLD=20
TRACKER_BLOCK_24H_THRESHOLD=50
TRACKER_BLOCK_30M_DURATION_MINUTES=30
TRACKER_BLOCK_24H_DURATION_HOURS=24
IP_WHITE_LIST=
TRACKER_EVENT_RETENTION_DAYS=30
TRACKER_BLOCKED_IP_CACHE_TTL_MS=10000ms
