body {
  font-family: "Yanone Kaffeesatz", sans-serif;
  font-size: 1.3em;
  color: #1f306e;
}
#home img {
  height: 35px !important;
  width: 35px !important;
  border: none;
  margin: 0px;
  padding: 0px;
  border-radius: 0px;
}
.navbar {
  display: block;
}

/* Auth card images */
.card-img-top {
  height: 250px;
  object-fit: cover;
}
