<% layout('layouts/boilerplate')%>

<div class="container d-flex align-items-center justify-content-center" style="min-height: 100vh;">
    <div class="row justify-content-center w-100">
        <div class="col-12 col-lg-4 mb-4 d-flex">
            <div class="content text-center w-100">
                <a class="aTag mb-3" href="https://slapp.longrunner.co.uk">
                    <img src="/images/slapp.jpg" alt="#">
                    <h1>Shopping List App</h1>
                    <h3>Create your meals</h3>
                    <h3>Add ingredients</h3>
                    <h3>Choose your meals for the week</h3>
                    <h3>Create your personalized weekly shopping list</h3>
                </a>
            </div>
        </div>
        <div class="col-12 col-lg-4 mb-4 d-flex">
            <div class="content text-center w-100">
                <a class="aTag mb-3" href="https://quiz.longrunner.co.uk">
                    <img src="/images/quiz.png" alt="#">
                <h1>longrunner quiz</h1>
                <h3>Take a general knowledge quiz</h3>
                <h3>Play on your own or with friends</h3>
                <h3>Choose between 10 - 50 questions</h3>
                <h3>Choose your difficulty</h3>
                </a>
            </div>
        </div>
        <div class="col-12 col-lg-4 mb-4 d-flex">
            <div class="content text-center w-100">
                <a class="aTag mb-3" href="https://blog.longrunner.co.uk">
                    <img src="/images/blog.png" alt="#">
                <h1>longrunner blog</h1>
                <h3>Ironman Tallinn 2021</h3>
                <h3>My journey from training to race day</h3>
                <h3>Follow my progress</h3>
                <h3>Did I make it?</h3>
                </a>
            </div>
        </div>
    </div>
</div>

