<header class="footer bg-dark py-3 mt-auto" id="authNav">
    <div class="container">
        <div class="d-flex">
            <div class="me-auto">
                <span class="text-muted">&Eta;&beta; 2020</span>
            </div>
            <div class="text-end">
                <span><a href="/policy/cookie-policy">Cookie Policy</a></span>
            </div>
        </div>
    </div>
    <div class="container">
        <div class="d-flex">
            <div class="me-auto">
            </div>
            <div class="text-muted text-end">
                <span><a href="/policy/tandc">Help</a></span>
            </div>
        </div>
    </div>
</header>

<script>
    alert('t')
    const pathname = window.location.pathname;
    const pathArry = pathname.split('/');
    const authNavEle = document.getElementById("authNav");

    if(pathArry[1] !== 'auth'){
      authNavEle.style.display= "none"
    }
</script>
