<% if (flash.success && flash.success.length > 0) { %>
  <% flash.success.forEach(msg => { %>
    <div class="alert alert-success alert-dismissible fade show" role="alert">
      <%= msg %>
      <button type="button" class="btn-close" data-bs-dismiss="alert"></button>
    </div>
  <% }) %>
<% } %>

<% if (flash.error && flash.error.length > 0) { %>
  <% flash.error.forEach(msg => { %>
    <div class="alert alert-danger alert-dismissible fade show" role="alert">
      <%= msg %>
      <button type="button" class="btn-close" data-bs-dismiss="alert"></button>
    </div>
  <% }) %>
<% } %>
