<% layout('layouts/boilerplate')%>

<div class="container">
    <div class="row">
        <div class="col-lg-12">
            <div class="content mb-4">
                <h1>Shopping List App</h1>
                <h3>Create your meals</h3>
                <h3>Add ingredients</h3>
                <h3>Choose your meals for the week</h3>
                <h3>Create your personilsed weekly shopping list</h3>
                <br>
                <hr>
                <br>
                <h3>Quickly register a free account that gives you some complementary meals to start with</h3>
                <a class="btn btn-dark btn-lg" href="/auth/login">
                    <span id='hb'>&Eta;&beta;</span>
                    <span class="ms-2">Login to Get Started!</span>
                </a>
            </div>
        </div>
    </div>
</div>
