.moveAlert {
    display: none;
}

#selection input {
    border: 0;
}

.qty {
    width: 17%;
    margin-right: 7px;
}

.ingredientName {
    width: 62%;
    margin-right: 3px;
}

.fa-trash-alt {
    color: red;
}

.fa-plus {
    color: green;
}

.fas {
    margin-left: 3px;
}

.fas:hover {
    font-size: 1.3em;
}