<% layout('layouts/boilerplate')%>

<div class="container mt-2 d-flex justify-content-center">
    <div class="row">
        <div class="col-lg-12">

            <!-- Quiz Code and QuizMaster will be shown -->
            <div class="card mb-3" style="width: 18rem;">
                <div class="card-header">
                    Quiz Code <span id="code"><%= quizCode %></span>
                    Quizmaster: <strong><%= quizMaster %></strong>
                </div>
            </div>

            <!-- All users are shown -->
            <div class="card align-self-center" style="width: 18rem;">
                <div class="card-header">
                    Users in Quiz...
                </div>
                <ul id="userList" class="list-group list-group-flush">
                    <% for(u of userList){ %>
                        <li class="list-group-item"><%= u.userName %></li>
                    <% } %>
                </ul>
            </div>

            <!-- Button hidden to everyone apart from the quizMaster -->
            <!-- Will send 'hutchybop' to the start POST route -->
            <!-- Where gameInProgress is changed to true then 'hutchybop' is redirected to the quiz -->
             <% if(userData.quizMaster === true){ %>
                <div class="mt-3">
                    <button id="startBtn" class="btn btn-success">Start</button>
                </div>
            <% } %>
        </div>
    </div>
</div>


<script>
    const userData = <%- JSON.stringify(userData) %>;
</script>
<script src="/socket.io/socket.io.js"></script>
<script src="/javascripts/socket.js"></script>
